.search-form {
    margin-top: 50px;
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #337ab7;
    border-color: #337ab7;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #286090;
    border-color: #286090;
}